<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>40 Yard Dash Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">40 Yard Dash Tracker</a>
        </h1>
        <nav>
          <a href="/login">login</a>
        </nav>
      </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
    <strong> Always strive for excellence!</strong>
    <!-- <img src="https://thumbs.dreamstime.com/b/man-running-fast-trail-logo-abstract-concept-activity-41567210.jpg" alt="Running Logo">-->
  </footer>
  </div>
  <!-- <script src="index.js"></script>-->
  </body>
  </html>
  

	