<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    /><script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Time Track</title>
  </head>

  <body class="flex-column min-100-vh">
    <header class="hero">
      <h1 id="" class="app-title"><a href="/">Time Track</a></h1>
      <nav class="navbar">
        <ul>
          {{#if loggedIn}}
            <li class="li-inline nav-item"><a
                href="/dashboard"
              >Dashboard</a></li>
            <li class="li-inline nav-item"><a
                href="#"
                id="logout-link"
              >Logout</a></li>
          {{else}}
            <li class="li-inline nav-item"><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    <main class="col-auto">
      {{{body}}}
      {{!-- <div id="areaChart"></div>
      <canvas id="myChart" width="400" height="400"></canvas> --}}
    </main>

    <footer class="blog-footer">
      <p>&copy;
        <script>document.write(new Date().getFullYear());</script>
        by Time Track
        <a href="https://github.com/MissyStiner/time-track"></a>.</p>
    </footer>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}

 <canvas id="myChart"></canvas>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </body>

</html>
