<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style-d.css">
  <title>Time Tracker</title>
</head>

<body class="flex-column min-100-vh">
  <header class="hero">
    <h1 id="" class="app-title"><a href="/">Time Tracker</a></h1>
    <nav class="navbar">
      <ul>
        {{#if loggedIn}}
        <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
        <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
        {{else}}
        <li class="li-inline nav-item"><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="blog-footer">
    <p>&copy;
    <script>document.write(new Date().getFullYear());</script> by Time Tracker <a href="https://github.com/MissyStiner/time-track"></a>.</p>
  </footer>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>