<div class="post card">
    <div class="card-header">
        <h2>Add New Time</h2>
    </div>
    <form id="add-post-form" class="card-body">
        <label class="form-label" for="post-title">Date of Run:</label>
        <input type="text" name="post-title" class="form-input" placeholder="Date of run" required/>
        <label class="form-label" for="post-day">Day of Week:</label>
      <input class="form-input" name="post-day" placeholder="Insert day here" required/>
      <label class="form-label" for="post-hour">Time:</label>
      <input class="form-input" name="post-hour" placeholder="(in seconds)" required/>
        <button type="submit" class="btn mb-none">Enter Time:</button>
    </form>
</div>

<script src="/javascript/add.js"></script>