<div class="post card">
    <div class="card-header">
        <h2>Add New Time</h2>
    </div>
    <form id="add-post-form" class="card-body">
        <label class="form-label" for="post-date">Date of Run:</label>
        <input type="text" name="post-date" class="form-input" placeholder="MMM/DD/YYYY" required/>
        <label class="form-label" for="post-day">Day of Week:</label>
      <input class="form-input" name="post-day" placeholder="Insert day here" required/>
      <label class="form-label" for="post-time">Time:</label>
      <input class="form-input" name="post-time" placeholder="(in seconds)" required/>
        <button type="submit" class="btn mb-none">Enter Time:</button>
    </form>
</div>

<script src="/javascript/add.js"></script>