
    <div class="mb-md-5 mt-md-4 pb-5">
                <br/>
                <a href="/dashboard/add/"><button id="add-post-form" class="btn-medium">Create post</button></a>

            </div>
    <div class="card-body p-5 text-center">
        <container id="dashboard" class="form-signin">
            
            {{#if posts.length}}
            <div>
                {{#each posts as |post|}}
                {{> post-info post}}

                <a href="/dashboard/edit/{{post.id}}"><button class="btn-up">Edit post</button></a>
            </div>
        </container>
        {{/each}}
    </div>
    {{else}}
    <h6 class="label">You currently do not have any posts</h6>

    {{/if}}