
<body>
<div class="card-body p-5 text-center">
    <form id="signup-form" class="form-signin">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 pb-5">CREATE NEW ACCOUNT</h2>

                <div class="form-outline form-white mb-4">
                    <label for="username-input-signup">Username</label>
                     <input type="text" id="username-input-signup" placeholder="Username" autocomplete="off" required autofocus>
                    </div>
                <div class="form-outline form-white mb-4">
                    <label for="email-input-signup" >Email</label>
                    <input type="text" id="email-input-signup" class="form-control" placeholder="Email address" required autofocus>
                   </div>
                <div class="form-outline form-white mb-4">
                  {{!-- <input type="password" placeholder="Password" class="form-control form-control-lg"> --}}
                  <label for="password-input-signup" >Password</label>
                  <input type="password" id="password-input-signup" class="form-control" placeholder="Password" required>
                </div>
                  <button type="submit" id="signup-btn" class="btn">Sign Up</button>
                </form>
                <div>
                  <br>
                {{!-- <label for="don't-have-an-account" class="sr-only">Don't have an account?</label> --}}
                {{!-- <button type="submit" id="login-btn" class="btn">Sign U</button> --}}
                {{!-- <div class="mb-0">Don't have an account? <div> --}}
                 <br>
                  {{!-- <a href="/sign-up" class="text-primary-50 fw-bold">SIGN UP</a> --}}
                </div>
                </body>
             </div>
           </div>
         </div>  
  



{{!-- <form id="signup-form" class="form-signin">
    <div id="signup" role="tabpanel">
        <div class="mb-3 card-header text-center">
            <h2>Create new account</h2>
        </div>
        <div>
            <label for="username-input-signup">Username</label>
            <input type="text" id="username-input-signup" placeholder="Username" autocomplete="off" required autofocus>
        </div>
        <div>
            <label for="email-input-signup">Email</label>
            <input type="email" id="email-input-signup" placeholder="terry@example.com" autocomplete="off" required
                autofocus>
        </div>
        <div>
            <label for="password-input-signup">Password</label>
            <input type="password" id="password-input-signup" placeholder="Password" autocomplete="off" required>
        </div>
        <button type="submit" id="signup-btn" class="btn">Sign up</button>
        <a href="/login">Login</a>
    </div>
</form> --}}

<script src="/javascript/signup.js"></script>