<form id="signup-form" class="form-signin">
    <div id="signup" role="tabpanel">
        <div class="mb-3 card-header text-center">
            <h2>Create new account</h2>
        </div>
        <div>
            <label for="username-input-signup">Username</label>
            <input type="text" id="username-input-signup" placeholder="Username" autocomplete="off" required autofocus>
        </div>
        <div>
            <label for="email-input-signup">Email</label>
            <input type="email" id="email-input-signup" placeholder="terry@example.com" autocomplete="off" required
                autofocus>
        </div>
        <div>
            <label for="password-input-signup">Password</label>
            <input type="password" id="password-input-signup" placeholder="Password" autocomplete="off" required>
        </div>
        <button type="submit" id="signup-btn" class="btn">Sign up</button>
        <a href="/login">Login</a>
    </div>
</form>

<script src="/javascript/signup.js"></script>