{{> post-info post}}

{{#if loggedIn}}
  <div>
    <button type="button" class="like-btn">LIKE</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<!--<script src="/javascript/like.js"></script>-->
{{/if}}