{{> post-info post}}

{{#if loggedIn}}
  <div>
    <button type="button" class="love-btn">LOVE</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<!--<script src="/javascript/love.js"></script>-->
{{/if}}