{{!-- <div class="mb-md-5 mt-md-4 pb-5"> --}}
  <div class="card-body p-5 text-center">
    <container id="single-post" class="form-single-post">


      {{> post-info post}}

      {{#if loggedIn}}
      {{!-- <div class="card-body p-5 text-center"> --}}
        <div style="background: white;">
        <form id="new-comment-form" style="background: white;">
          <div>
            <textarea class="mx-10 w-50 h-200" name="comment-body"></textarea>
          </div>

          <div>
            <button class="btn-save" type="submit">add comment</button>

        </form>
        <form id="new-comment-form" class="">
          {{> comments post.comments}}

        </form>
        {{/if}}


        {{#if loggedIn}}
        <script src="/javascript/comment.js"></script>
        {{/if}}
      </div>
    </container>
  </div>