* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Profile Pic Start*/
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    
}

/* body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: rgb(24, 24, 24);
    background: #ffffff;
  }
h1{
    text-align:center;
    font-size:28px;
    font-weight:bold;
    color:black
}
h2{
    font-weight:bold;
    font-size:20px;
    margin-top:10px;
    color:white;
}
#syle-image{
    width:600px;
    height:400px;
    margin-left:20px;
    margin-right:20px;
}
.card {
    margin: auto;
    float: none;
    margin-bottom: 20px;
    margin-top: 100px;
}
h4{
    margin-top: 20px;
    margin-bottom: 20px;

}
select{
    margin-top:20px;
    margin-bottom: 20px;
}
#input-group{
    margin-top:20px;
    margin-bottom: 20px;
}
p{
    margin-top:20px;
    margin-bottom: 20px;
}
h6{
    margin-top:40px;
    margin-bottom:40px;
} */
